@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html, body{
    height: 640px;
    font-family: 'Roboto Slab', serif;
}
input{
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 4px #cfcfcf;
}
a{
    text-decoration:none;
    color: black;
}
/*classe*/
.div{
    max-width: 50%;
    min-width: 0%;
    max-height: 50%;
    min-height: 0%;
    background-color: #404040;
    padding: 20px;
    margin: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(95, 94, 155);
}
.conteiner{
    min-height: 640px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-image: url("img/numero-550x385.jpg");
}
.titulo{
    width: 80%;
    height: 20%;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}
.resposta{
    width: 80%;
    height: 15%;
    background-color: rgb(182, 182, 182);
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    color: #404040;
}
/*id*/
#submit{
    max-width: 15%;
    max-height: 15%;
    font-size: 20px;
}
#input{
    max-width: 60%;
    max-height: 15%;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}